.xl {
  padding: 24px 48px;
  font-size: 18px;
  line-height: 36px;
}

.lg {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
}

.md {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
}

.sm {
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 14px;
}
