@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 5rem;
  /* height: 100%; */
  /* text-align: center; */
  /* padding: 0 5rem; */
  font-family: 'Comic Neue', sans-serif
}